[type="radio"]:checked,
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:not(:checked) {
    position: absolute;
    display: none;
}

[type="radio"]:checked+label,
[type="checkbox"]:checked+label,
[type="radio"]:not(:checked)+label,
[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #707070;
}

[type="radio"]:checked+label:before,
[type="checkbox"]:checked+label:before,
[type="radio"]:not(:checked)+label:before,
[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #707070;
    background: #fff;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    border-radius: 100%;
}

[type="radio"]:checked+label:after,
[type="checkbox"]:checked+label:after,
[type="radio"]:not(:checked)+label:after,
[type="checkbox"]:not(:checked)+label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #707070;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);

}

[type="radio"]:checked+label:after,
[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}