$font-stack: 'Roboto',
sans-serif;
$basic-text-color: #373737;
$basic-white: #fff;
@import 'inputs';

@mixin flexable ($x) {
    display: flex;
    justify-content: $x;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #aeaeae;
    font-family: $font-stack;
    color: $basic-text-color;
}

.modal {
    margin: 25px auto;
    width: 300px;
    background-color: $basic-white;
    border-radius: 4px;
    font-weight: 300;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 37px -15px rgba(0, 0, 0, 0.75);
}

ul {
    list-style-type: none;
}

hr {
    height: 1px;
    background-color: rgb(226, 226, 226);
    border: none
}

#logo-image {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
}

.logo {
    position: relative;
}

.title {
    padding: 20px;
}

h1 {
    font-weight: 600;
    margin: 3px;
    font-size: 18px;
}

#header-text {
    font-size: 12px;
}

.coffe-price {
    @include flexable (space-between);
    height: 40px;
    padding: 15px;
}

.counter {
    width: 90px;
    @include flexable (space-around);
}

.change-button {
    border-radius: 100%;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    @include flexable (center);
}

.change-button svg {
    fill: $basic-white;
}

#minus-btn {
    background-color: #acacb1;
}

#pluse-btn {
    background-color: #9b6f4c;
}

#req {
    color: #b8b8b8;
}

.button-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $basic-white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.button-back:hover {
    background-color: rgba(255, 255, 255, 0.907);
}

.button-back svg {
    fill: #b2b2b7;
}

.option-title {
    padding: 17px;
    height: 60px;
    @include flexable (space-between);

}

#reset {
    font-weight: 400;
    font-size: 11px;
}

.option-title h2 {
    font-size: 14px;
}

.error {
    background-color: #e4e4e4;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 12px;
}

h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

.option-title {
    height: 50px;
    background-color: #f2f2f2;
}

.title {
    text-align: center;
}

.item-price {
    color: #dcdcdc;
}

.item-text {
    cursor: pointer;
}

.items-list {
    line-height: 20px;
}

.item {
    width: 300px;
    height: 40px;
    @include flexable (space-between);
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
}


#cart {
    padding: 20px;
    font-size: 14px;
}

.cart-button {
    background-color: #372922;
    height: 30px;
    color: $basic-white;
    @include flexable (space-between);
    padding: 5px 15px 5px 15px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #291f03;
    }

    &:active {
        background-color: #1f1702;

    }
}

.cart-icon img {
    height: 20px;
    width: 20px;
    color: $basic-white;

}

.cart-icon svg {
    fill: $basic-white;
}